* {margin: 0; padding: 0; border: none;}

/*Main HTML*/
html
{
    scroll-behavior: smooth;
    background-color: black;
    cursor: default;
}

/*Main Body*/
/* body
{
    
} */
div
{
    height: auto;
    width: 100vw;
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color: #ffffff;
    transition: 1s;
    font-family: monospace;
    text-align: center;
}
p
{
    font-size: 25px;
}

/*ScrollBar*/
::-webkit-scrollbar
{
    display: none;
}

/*MENU*/
#menuBar
{
    background-color: white;
    min-width: 100vw;
    top: 0;
    position: sticky;
}
.topnav
{
    list-style-type: none;
    overflow: hidden;
}
.topnav li a
{
    float: left;
    color: rgb(202, 69, 69);
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    transition: 1s;
    font-size: 16px;
}
.topnav li a:hover
{
    background-color: rgb(202, 69, 69);
    color: rgb(255, 255, 255);
    padding: 14px 30px;
    transition: 0.75s;
    font-size: 16px;
    cursor: pointer;
}
.login
{
    float: right;
    background-color: rgb(0, 0, 0);
}

/*Menu Dropdown*/
.dropdown-content
{
    display: none;
    cursor: default;
    position: absolute;
    min-width: 160px;
    text-align: justify;
}
.icon:hover .dropdown-content
{
    display: block;
    width: 160px;
    margin-top: 47px;
}
.dropdown-content a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:rgb(202, 69, 69);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.75s;
}
.dropdown-content a:hover
{
    background-color: rgb(255, 255, 255);
    color: rgb(202, 69, 69);
    transition: 1s;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    cursor: pointer;
}
.item:hover
{
    width: 155px;
}

/*Top Button*/
.top_btn
{
    text-decoration: none;
    position: fixed;
    top: 92.6%;
    left: 45.7%;
    padding: 5px 10px;
    font-size: 16px;
    font-family: monospace;
    color: rgb(255, 255, 255);
    background:rgb(0, 0, 0);
    mix-blend-mode: difference;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
    transition: 0.1s;
}
.top_btn:hover
{
    top: 92.4%;
    left: 45.4%;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background:rgb(255, 255, 255);
    mix-blend-mode: difference;
}
.top_btn:focus
{
    outline: none;
}

/*-----------------------------------Company Name-----------------------------------*/
.companyName
{
    min-height: 95.2vh;
    min-width: 100vw;
    /* background-color: #1A1A1D; */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('Resources/ian\ dooley\ -\ 3NCA3tbaE5I\ -\ regular.jpg');
}
h1
{
    font-weight: bold;
    font-family: sans-serif;
}
.acting-h1
{
    color: White;
    padding: 10vh 10vw;
    font-size: 10vw;
    /* background: -webkit-linear-gradient(rgb(60, 233, 89), rgb(56, 140, 236));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: -6px 6px 15px rgba(0,0,0,0.3), 6px -6px 15px rgba(206, 206, 206, 0.3);
}
.collective-h1
{
    color: White;
    padding: 5vh 10vw;
    font-size: 10vw;
    /* background: -webkit-linear-gradient(rgb(56, 140, 236), rgb(228, 44, 59));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: -6px 6px 15px rgba(0,0,0,0.3), 6px -6px 15px rgba(206, 206, 206, 0.3);
}

/*-----------------------------------FAQ Div-----------------------------------*/
.faq
{
    min-height: 95.2vh;
    min-width: 100vw;
}
.faq-h1
{
    margin: 0;
    padding: 50px 3%;
    font-size: 3vw;
    background: -webkit-linear-gradient(rgb(255, 159, 159), rgb(247, 63, 63));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: -6px 6px 15px rgba(0,0,0,0.3), 6px -6px 15px rgba(206, 206, 206, 0.3); */
}

/*-----------------------------------About Div-----------------------------------*/
.about
{
    min-height: 95.2vh;
    min-width: 100vw;
}
.about-h1
{
    margin: 0;
    padding: 50px 3%;
    font-size: 3vw;
    background: -webkit-linear-gradient(rgb(255, 159, 159), rgb(247, 63, 63));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: -6px 6px 15px rgba(0,0,0,0.3), 6px -6px 15px rgba(206, 206, 206, 0.3); */
}

/*-----------------------------------Contact Us Div-----------------------------------*/
.contact
{
    min-height: 95.2vh;
    min-width: 100vw;
}
.contact-h1
{
    margin: 0;
    padding: 50px 3%;
    font-size: 3vw;
    background: -webkit-linear-gradient(rgb(255, 159, 159), rgb(247, 63, 63));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: -6px 6px 15px rgba(0,0,0,0.3), 6px -6px 15px rgba(206, 206, 206, 0.3); */
}